.config {
    background-color: #eeeef6;
    height: 100vh;
    &-header {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 145px;
        &_img {
            width: 62.5px;
            height: 62.5px;
            margin-bottom: 10px;
        }
        &_word {
            font-size: 14px;
            color: #333333;
        }
    }
    &-content {
        background-color: #fff;
        height: 300px;
        width: 305px;
        padding-top: 30px;
        margin: 0 auto;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 90px solid #fff;
            border-left: 305px solid transparent;
            top: -90px;
            right: 0;
        }
        &_left {
            width: 30px;
            display: inline-block;
        }
        &_item {
            display: flex;
            margin: 0 30px;
            padding: 19px 0 15px 0;
            border-bottom: 1px solid #e6e6e6;
        }
        &_icon {
            max-width: 18px;
            max-height: 18px;
            vertical-align: middle;
            margin-right: 10px;
        }
        &_word {
            color: #033333;
            font-size: 14px;
            margin-right: 5px;
            display: block;
        }
        &_input {
            white-space: nowrap;
            cursor: pointer;
            outline: none;
            display: inline-block;
            line-height: 1;
            position: relative;
            vertical-align: middle;
        }
        &_label+&_label {
            margin-left: 10px;
        }
        &_radio {
            text-align: right;
            flex: 1;
            input {
                opacity: 0;
                outline: none;
                margin: 0;
            }
        }
        &_inner {
            border: 1px solid #bfcbd9;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            cursor: pointer;
            display: inline-block;
            box-sizing: border-box;
        }
        &_active {
            position: relative;
            background-color: #20a0ff;
            border: 1px solid #20a0ff;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
                content: "";
                position: absolute;
                left: calc(50% - 3px);
                top: calc(50% - 3px);
                z-index: 2;
            }
        }
        &_text {
            background-color: #fff;
            border-radius: 4px;
            border: 0;
            box-sizing: border-box;
            color: #1f2d3d;
            display: inline-block;
            font-size: inherit;
            line-height: 1;
            outline: none;
            padding: 0px 5px;
            width: 100%;
        }
        &_content {
            flex: 1;
        }
        &_qrcode {
            color: #ff0101;
            font-size: 13px;
        }
    }
}