body, div, span, p, em, i, b, th, td, dl, dt, dd, ul, ol, li, a, h1, h2, h3, h4, h5, h6, form, textarea {
  tap-highlight-color: rgba(0,0,0,0);
}
body, p, ul, ol, h1, h2, h3, h4, h5, h6, pre{
  margin: 0
}
li,ul{
  padding: 0
}
ul{
  &.list-no-style{
    list-style: none outside none
  }
}
a {text-decoration:none;} 